{% extends 'base.html' %} {% block content %} {% if form %}
{% import 'bs_form.html' as bs %}
<form method="post">
    {{ form.hidden_tag() }}
    <img
        class="mb-4"
        src="{{ url_for('static', filename='pictures/bootstrap-logo.svg') }}"
        alt=""
        width="72"
        height="57"
    />
    <h1 class="h3 mb-3 fw-normal">Зарегистрируйтесь</h1>

    {% set ns = namespace(first_field=true) %}
    {%- for field in form %}
        {% if field.widget.input_type != 'hidden' -%}
          {{ bs.form_field(field, ns.first_field) }}
          {% set ns.first_field = false %}
        {%- endif %}
    {%- endfor %}
</form>

{% endif %} {% endblock %}
